/* Reset some default styles */

@font-face {
  font-family: "Footlight MT Light";
  src: url("https://db.onlinewebfonts.com/t/82ac464059468e8dacb3d4d3f5c81253.eot");
  src: url("https://db.onlinewebfonts.com/t/82ac464059468e8dacb3d4d3f5c81253.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/82ac464059468e8dacb3d4d3f5c81253.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/82ac464059468e8dacb3d4d3f5c81253.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/82ac464059468e8dacb3d4d3f5c81253.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/82ac464059468e8dacb3d4d3f5c81253.svg#Footlight MT Light")format("svg");
}
@font-face {
  font-family: "Maiandra GD";
  src: url("https://db.onlinewebfonts.com/t/0dc85fad34f00fbec56d8081d0f9267a.eot");
  src: url("https://db.onlinewebfonts.com/t/0dc85fad34f00fbec56d8081d0f9267a.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/0dc85fad34f00fbec56d8081d0f9267a.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/0dc85fad34f00fbec56d8081d0f9267a.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/0dc85fad34f00fbec56d8081d0f9267a.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/0dc85fad34f00fbec56d8081d0f9267a.svg#Maiandra GD")format("svg");
}
@font-face {
  font-family: "Itsbeautiful";
  src: url("https://db.onlinewebfonts.com/t/0480805a4ea2f4408acfd30b9e52de90.eot");
  src: url("https://db.onlinewebfonts.com/t/0480805a4ea2f4408acfd30b9e52de90.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/0480805a4ea2f4408acfd30b9e52de90.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/0480805a4ea2f4408acfd30b9e52de90.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/0480805a4ea2f4408acfd30b9e52de90.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/0480805a4ea2f4408acfd30b9e52de90.svg#Itsbeautiful")format("svg");
}
body, h1, h2, p {
  margin: 0;
  padding: 0;
  font-family: "Maiandra GD";
}
/* Main layout */
.app {
  display: flex;
  min-height: 100vh; 
  background-image: url('https://cdn.wallpapersafari.com/11/10/QSgwDG.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 130px;
  flex: 0 0 130px;
  background-color: black;
  color: #fff;
  padding: 20px;
  height:100%;
}

.sidebar-link {
  padding:10px;
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 10px;
}

/* Main content */
.app-main {
  flex: 1;
  margin-left: 170px; /* Adjust to match the width of the sidebar */
  padding: 10px;
  
}



.page {
  margin-bottom: 20px;
}

.page-title {
  margin-bottom: 10px;
}

/* Add more styling as needed */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-logo {
  margin-left: auto; /* Pushes the profile logo to the right */
}
.profile-logo1 img{
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  cursor: pointer;
}
.profile-logo img {
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  cursor: pointer;
  border-radius: 50%;
}

.logo img{
  width: 40px;
  height: 40px;
}
.event-container {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
 
}
.event-box p{
  color:aliceblue;
  padding-left:10px;
  padding-bottom:2px;
}
.event-box {
  border: 1px solid #030000;
  background-color:#16264c;
  border-radius: 8px;
  color:white;
  align-items: center;
  padding-bottom: 50px;
  padding-left: 70px;
  padding-top:30px;
  margin: 30px;
  width: calc(33.33% - 20px); /* Divide into 3 columns with margin */
}

.event-details {
  text-align: left;
}
ul {
  list-style: none; /* Remove the default bullet points */
  padding-left:20px; /* Remove any default padding */
  margin: 0; /* Remove any default margin */
}

/* Apply this style to each <li> element */
li {
  margin-bottom: 5px; /* Add some spacing between list items */
}
.player-container {
  padding-left: 20px; /* Add padding to the entire player container */
}

.image-container1 {
  padding :50px;
  display: flex;
  justify-content:center;
  flex-wrap: wrap; /* Spread images evenly */
  
}

.image1 img {
  width: 150px; /* Adjust the width as needed */
  height: 150px; /* Maintain aspect ratio */
  padding-right:40px
}
.dashboard {
  display: flex;
  justify-content: space-around;
  align-items:first baseline;
  height: 100vh;
}

.dashboard-box {
  background-color:#9F8C76;
  color:white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.player-table {
  border-collapse: collapse; /* Collapse table borders */
  width: 100%;
  border: 1px solid black; /* Add border to the entire table */
}

.player-table th{
  border: 1px solid white; /* Add border to table cells */
  padding: 8px;
  text-align: center;
}
.player-table td {
  border: 1px solid black; /* Add border to table cells */
  padding: 8px;
  text-align: center;
}

.player-table th {
  background-color: black;
  color:white;
}

.selected-row {
  background-color: #f0f0f0; /* Highlight selected row */
  cursor: pointer; /* Show cursor as pointer on hover */
}

/* Rest of your styling */

.player-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height to viewport height */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
}

.player-details {
  border: 1px solid #ccc;
  padding: 40px;
  background-color: #fff;
  max-width: 500px;
  
  position: relative;
  
}
.close-button {
  position: absolute;
    top: 10px;
    right: 10px; 
    
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}
.close-button1 {
  background-color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  cursor: pointer;
  padding: 5px 10px; /* Set your desired button color here */
  color: #fff; /* Set your desired text color */
}

.registration-form {
  position: relative; /* Ensure relative positioning for absolute elements */
}

.close{
  width:15px;
  height:15px;

}

/* Teams.css */

.players-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.players-table th,
.players-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.players-table th {
  background-color: #f0f0f0;
}
.icon{

  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 50px;
}
.icon1{

  position: fixed;
  bottom: 23px;
  right: 73px;
  font-size: 50px;
}


  /* YourComponent.css */
.container {
  position: relative;
  
}

.image {
  width: 100%;
  height: 550px; 
  display: block;
}


.heading {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  right: 30%; /* Adjust the left position as needed */
  font-size: 24px; /* Adjust the font size as needed */
}

/* Add tooltip styles */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 50px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 90%;
  left: 90%;
  margin-left: -50px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/* Add jumping animation */
@keyframes jump {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
/*
.heading {
  animation: jump 2s infinite;
  background: linear-gradient(90deg, black, brown,#0c1a35);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
 style.css 
.sidebar {
  margin-right: -11px;

}*/
/* MonthCalendar.css */

/* Styles for the entire calendar container */
.month-calendar {
  font-family: "Footlight MT Light";
  width: 300px;
  margin: 0 auto;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Styles for the calendar header */
.calendar-header {
  background-color: #3d4567;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.calendar-header h1 {
  font-size: 20px;
  margin: 0;
}

/* Styles for the calendar grid */
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
  padding: 10px;
}

/* Styles for day labels */
.day-label {
  background-color: #f0f0f0;
  text-align: center;
  padding: 5px;
  font-weight: bold;
}

/* Styles for date cells */
.date-cell {
  background-color: #fff;
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.date-cell.empty {
  background-color: #f0f0f0;
}

/* Styles for events (you can customize this further based on your needs) */
.event {
  background-color: #3d4567;
  color: #fff;
  padding: 3px;
  margin-bottom: 2px;
}

/* Hover effect for date cells */
.date-cell:hover {
  background-color: #3d4567;
  color: #fff;
}

/* Add more CSS styles for your profile content here */

/* Styling for the about-container */
.about-container {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  margin: 20px;
}

/* Heading styles */
.about-container h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: black;
}

.about-container h2 {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: black;
}

/* Paragraph and list styles */
.about-container p {
  font-size: 16px;
  line-height: 1.6;
  color: black;
}

.about-container ul {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 20px;
  color: black;
}

.about-container a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

.about-container a:hover {
  color: #0056b3;
}

/* Styling for the contact-container */
.contact-container {
  background-color: #f4f4f4;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

/* Heading styles */
.contact-container h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

.contact-container h2 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #555;
}

/* Paragraph and contact info styles */
.contact-container p {
  font-size: 18px;
  line-height: 1.6;
  color: #666;
}

.contact-info {
  margin-top: 20px;
}

.contact-info strong {
  color: #333;
}

/* Contact form styles */
.contact-form {
  margin-top: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 18px;
  display: block;
  color: #333;
}


.form-group textarea {
  resize: vertical;
}

button[type="submit"] {
  background-color: #3498db; /* Blue color */
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #2980b9; 
}


h1 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}



/* Container styles */
.teamd {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.teamdetails {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80%;
  max-width: 800px;
}

/* Header styles */
h1 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

/* Teams list styles */
.teams-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.teams-list {
  width: 58%;
}

.team-item {
  cursor: pointer;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  color:#030000;
  font-size: large;
  font-weight:bold ;
  transition: background-color 0.3s ease;
}

.team-item:hover {
  background-color: #f9f9f9;
}

.team-item h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Selected Team styles */
.selected-team {
  width: 35%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.selected-team h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.selected-team p {
  font-size: 16px;
  margin: 0;
}

.selected-team strong {
  font-weight: bold;
}

/* Player list styles */
h3 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 20px;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

@import "~react-image-gallery/styles/css/image-gallery.css";
/* src/components/SportsGallery.css */
.sports-gallery {
  text-align: center;
  background-image: url('http://camphighland.com/wp-content/uploads/2018/05/blog-posts-bg.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
}

.sports-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center images horizontally */
  gap: 30px; /* Reduce the gap between images */
}

.sport-card {
  flex: 0 0 calc(36.33% - 10px); /* 33.33% ensures 3 images in one line */
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  display: flex; /* Center image vertically */
  justify-content: center; /* Center image horizontally */
}

.sport-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
/* Acoach.css */

/* Styling for the table */
table.coach-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Styling for table headers */
table.coach-table th {
  background-color: black;
  color: #fff;
  text-align: left;
  padding: 10px;
}

table.coach-table tbody tr {
  border-bottom: 1px solid #ddd;
}

table.coach-table tbody tr.selected {
  background-color: black;
}
table.coach-table td {
  padding: 10px;
}
/* Practise.css */

/* Style the form */
form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
}
.signup,.signin{
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
}
.eventform{
  width:250px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #16264c;
  border-radius: 5px;
  background-color: #16264c;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number" ],
textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}
Select{
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}

button {
  display: block;
  width: auto;
  padding: 10px;
  background-color:#0e0e0e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* Style the list of practice events */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  cursor: pointer;
}

.selected {
  background-color: black;
  color: #fff;
}

/* Style the practice event details */
.practise-details {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  margin-top: 20px;
}

/* Style the "No Selection" message */
.no-selection {
  text-align: center;
  margin-top: 20px;
}
/* Add this CSS to your stylesheets */

.profile {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
}

.profile-header {
  display: flex;
  justify-content: space-between;
}

.profile-h{
  font-size: 30px;
  font-weight: bold;
}

.profile-picture {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 20px; /* Adjust as needed */
}

.profile-info {
  flex-grow: 1;
}

.profile-other {
  font-size: 21px;
  margin-bottom: 10px;
}

hr {
  border: 1px solid #ddd;
  margin: 5px 0;
}
.player-register {
  border: 1px solid #ccc;
  padding: 40px;
  background-color: white;
  max-width: 500px;
  color:black;
  position: relative;
  
}
.player-register p{
  color: #030000;

}
.video-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px;
  max-width: 100%; /* Ensure the content doesn't exceed the viewport width */
}

.video {
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  flex-basis: 100%; /* Increase the width to 60% */
  padding: 15px;
}


.video.right {
  flex-direction: row-reverse;
}

.video:hover {
  transform: scale(1.05);
}

.video-player {
  flex: 1;
  max-width: 100%;
}

.video-description {
  flex: 1;
  padding: 20px;
  text-align: center;
  width: 100%; /* Ensure full width for description */
  
}

.video video {
  width: 100%;
  max-height: 100%; /* Ensure the video fits within the container */
  border-radius: 5px 5px 0 0;
}

.video h3 {
  margin: 10px 0;
  font-size: 18px;
  color: #333;
}



/* Add more styles as needed */
/* EventRegistrationForm.css */
.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000; /* Ensure it appears above other content */
}

.registration-form {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1001; /* Ensure the form appears above the overlay */
}

/* Rest of your existing styles */
/* AddPlayerForm.css (or your preferred CSS file) */
.scrollable-form {
  max-height: 500px; /* Adjust the max height as needed */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
  padding: 10px; /* Add some padding for better appearance */
  border: 1px solid #ccc; /* Add a border for clarity */
  border-radius: 5px; /* Optionally, add border radius for rounded corners */
}

/* Add this to your CSS file */
.delete-popup {
  background-color: white;
  background-size: cover;
  padding: 20px;
  border: 1px solid #ccc; /* Add a border */
  border-radius: 8px; /* Add rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

   
.app2 {
  display: flex;
  min-height: 470vh; 
  background-image: url('https://cdn.wallpapersafari.com/11/10/QSgwDG.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}